/target/

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

wflow-consoleweb/src/main/webapp/wro/
/nb-configuration.xml

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/